

.e404-bg  {
    background: url("https://rickandmortypod.com/storage/2018/11/cropped-RM_page-header_background1-3.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    height: 100vh;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }


.e-message-1 {
    color: white;
    font-size: 40px;
    font-family: Poppins, sans-serif;
}
.e-message-2{
    color: white;
    font-size: 20px;
    font-family: Poppins, sans-serif;
}
.e-message-3 {
    color: white;
    font-size: 20px;
    font-family: Poppins, sans-serif;
}

.e-message-3 > span {
    color: rgb(93, 222, 93);
}
.e-message-cont {
    height: 50vh;
    width: 50vw;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.35);
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0rem 6rem 0rem 6rem;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}


.e-portal:hover {
    opacity: 70%;
}