.about-bg {
  background: url("../public/home-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 5rem;
}

.about-text-cont {
  height: 50vh;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0rem 6rem 0rem 6rem;
}

.about-text-1 {
  font-size: 40px;
  text-align: center;

  color: grey;
}
.about-text-2 {
  font-size: 40px;
  color: grey;
  text-align: center;
}

.about-text-2 > a {
  text-decoration: none;
  color: #fff;
}
.about-text-2 > a:hover {
  text-decoration: none;
  color: #212121;
}

.about-text-1 > a {
  text-decoration: none;
  color: #fff;
}
.about-text-1 > a:hover {
  text-decoration: none;
  color: #212121;
}
