.filter-container {
  background-color: rgba(0, 0, 0, 0.349);
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.status-range-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form-container {
  height: 10%;
  width: 50%;
}

.pagination > li > a {
  background-color: white;
  color: #737373;
}

.pagination {
  border-width: 20px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: white;
  background-color: #737373;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #737373 !important;
  border: solid 1px #737373 !important;
}

.pagination > .active > a:hover {
  background-color: #737373 !important;
  border: solid 1px #737373;
}

.paginate-container {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.form-lable-tag {
  color: white;
}
