.browse-filter {
    border: red 1px solid;
    height: 200px;
    background-color: white;
    color: black;
    padding: 2rem;
}

#customRange3 {
    width: 3%;
}

.status-range-cont {
    display: flex;
    flex-direction: column;
}

.filter-container {
    border: red 1px solid;
}

#floatingInputValue {
    width: 100%;
}

.filter-search-form {
    display: flex;
}

.btn-primary {
    border: red 1px solid;
    
}