
/* change margin for responsive */
.filter-container {
    /* padding: 0.25rem; */
    background-color: rgba(0, 0, 0, 0.349);
    height: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.status-range-cont {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search-form-container {
    height: 10%;
    width: 50%;
}




  .pagination > li > a
{
    background-color: white;
    color: #5A4181;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: white;
    background-color: rgb(196, 154, 233);
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

.pagination > .active > a:hover
{
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181;
}

.paginate-container {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

