main{
    padding: 5rem;
}

.background-image{
    background: url('../public/background.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}